<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="sidebar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home"></a>
        </div>

        <div class="collapse navbar-collapse" id="sidebar">
            <ul class="nav navbar-nav text-center">
                <button mat-flat-button class="sidebutton" routerLink="/ventas">
                    <mat-icon style="font-size: 40px; position: fixed; left: 0;">attach_money</mat-icon>
                    <span style="margin-left: 10px">Ventas</span>
                </button>

                <button mat-flat-button class="sidebutton" routerLink="/gastos">
                    <mat-icon style="font-size: 40px; position: fixed; left: 0;">account_balance_wallet</mat-icon>
                    <span style="margin-left: 10px"> Gastos</span>
                </button>

                <button mat-flat-button class="sidebutton" routerLink="/proveedores">
                    <mat-icon style="font-size: 40px; position: fixed; left: 0;">shopping_cart</mat-icon>
                    <span style="margin-left: 10px">Proveedores</span>
                </button>

                <button mat-flat-button class="sidebutton" routerLink="/inventario">
                    <svg style="position: fixed; left: 0; margin-left:3px" width="2em" height="2em" viewBox="0 0 16 16"
                        class="bi bi-inboxes-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1H4.98zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374L3.81.563zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z" />
                    </svg>
                    <span style="margin-left: 10px"> Inventario</span>
                </button>
            </ul>
        </div>
    </div>
</nav>

<div class="main">

    <div class="container">
        <div class="row">
            <h1 style="font-weight: bold; color: #9e1313; font-size: x-large;">Inventario</h1>
        </div>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="inventario-header-image"></div>
                    <mat-card-subtitle style="margin-top:10px;">
                        En esta ventana se puede visualizar el inventario disponible, así como poder agregar un producto
                        (variedad).
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <mat-tab-group mat-stretch-tabs>
                        <mat-tab label="First">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">view_compact</mat-icon>
                                Inventario disponible
                            </ng-template>
                            <div class="row">
                                <mat-card class="inventario-card" *ngFor="let prod of inventario">
                                    <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"></div>
                                        <mat-card-title style="margin-top:10px;">
                                            {{prod.Variedad}}
                                        </mat-card-title>
                                    </mat-card-header>

                                    <mat-divider [inset]="true" style="border-color: #9e1313; margin-top: 5%">
                                    </mat-divider>

                                    <mat-card-content>
                                        <p style="font-weight: bold; font-size: medium; margin-top: 5%;">Calidad:
                                            {{prod.Calidad}}</p>
                                        <p style="font-weight: bold; font-size: medium;">Cantidad:
                                            {{prod.Cantidad | number}} KG</p>
                                    </mat-card-content>
                                    <mat-card-actions>

                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </mat-tab>
                        <mat-tab label="First" style="height: 400px;">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">add_shopping_cart</mat-icon>
                                Agregar inventario
                            </ng-template>
                            <div class="row mt-5 text-center">
                                <form [formGroup]="inventarioForm" style="width: 50%;">
                                    <div class="col-md-7">
                                        <mat-form-field class="example-full-width mt-3" fill="outline">
                                            <mat-label>Variedad</mat-label>
                                            <input type="text" formControlName="Variedad" matInput
                                                style="font-size:large; font-weight: bold;">
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width mt-3" fill="outline">
                                            <mat-label>Cantidad</mat-label>
                                            <input type="number" formControlName="Cantidad"
                                                style="font-size:large; font-weight: bold;" matInput placeholder="#">
                                        </mat-form-field>

                                        <button mat-flat-button class="btn" style="margin-top: 10%" [disabled]="!inventarioForm.valid"
                                            (click)="onSubmit()">
                                            <mat-icon>add_circle</mat-icon>
                                            Agregar inventario
                                        </button>
                                    </div>
                                
                                    <div class="col-md-4">
                                        <img src="../../../assets/add_inventario.jpg" style="margin-left:20%">
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>

<simple-notifications></simple-notifications>