<h1 mat-dialog-title>Agregar producto</h1>
<div mat-dialog-content>
    <!--form class="example-form">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Variedad</mat-label>
            <input matInput placeholder="" value="Sushi">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Calidad</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Calidad</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>
    </form-->
</div>
<div mat-dialog-actions>
    <button mat-flat-button class="btn">
        <!--mat-icon>save</mat-icon-->
        Agregar
    </button>
    <button mat-button mat-dialog-close>Cerrar</button>
</div>