<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="sidebar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home"></a>
        </div>

        <div class="collapse navbar-collapse" id="sidebar">
            <ul class="nav navbar-nav text-center">
                <button mat-flat-button class="sidebutton" routerLink="/ventas">
                    <mat-icon style="font-size: 40px;; position: fixed; left: 0;">attach_money</mat-icon>
                    <span style="margin-left: 10px">Ventas</span>
                </button>

                <button mat-flat-button class="sidebutton" routerLink="/gastos">
                    <mat-icon style="font-size: 40px; position: fixed; left: 0;">account_balance_wallet</mat-icon>
                    <span style="margin-left: 10px"> Gastos</span>
                </button>

                <button mat-flat-button class="sidebutton" routerLink="/proveedores">
                    <mat-icon style="font-size: 40px; position: fixed; left: 0;">shopping_cart</mat-icon>
                    <span style="margin-left: 10px">Proveedores</span>
                </button>

                <button mat-flat-button class="sidebutton" routerLink="/inventario">
                    <svg style="position: fixed; left: 0; margin-left:3px" width="2em" height="2em" viewBox="0 0 16 16"
                        class="bi bi-inboxes-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1H4.98zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374L3.81.563zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z" />
                    </svg>
                    <span style="margin-left: 10px"> Inventario</span>
                </button>

            </ul>
        </div>
    </div>
</nav>

<div class="main">

    <div class="container">
        <div class="row">
            <h1 style="font-weight: bold; color: #9e1313; font-size: x-large;">Ventas</h1>
        </div>
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle style="margin-top:10px;">En esta ventana se generarán las ventas del inventario
                        disponible, así como poder
                        visualizar las ventas pendientes.</mat-card-subtitle>
                </mat-card-header>

                <mat-tab-group mat-stretch-tabs>
                    <mat-tab label="First" style="height: 400px;">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">monetization_on</mat-icon>
                            Generar ventas
                        </ng-template>
                        <div class="row mt-5 text-center">
                            <form [formGroup]="ventasForm" style="width: 100%;">
                                <div class="col-md-5">
                                    <mat-form-field appearance="fill" style="width: 100%; font-size:medium">
                                        <mat-label>Variedad</mat-label>
                                        <mat-select formControlName="Variedad">
                                            <mat-option *ngFor="let v of variedad" [value]="v.Variedad"
                                                style="color: #9e1313;">
                                                {{v.Variedad}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width" style="margin-top:12px">
                                        <mat-label>Costo por pieza
                                        </mat-label>
                                        <input type="number" formControlName="Costo"
                                            style="font-size:large; font-weight: bold;" matInput placeholder="$0.00"
                                            (keyup)="getCosto($event)">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width mt-3">
                                        <mat-label>Cantidad</mat-label>
                                        <input type="number" formControlName="Cantidad"
                                            style="font-size:large; font-weight: bold;" matInput placeholder="#"
                                            (keyup)="getTotal($event)">
                                    </mat-form-field>
                                    <br>
                                    <mat-slide-toggle formControlName="Pendiente" color="warn"
                                        style="margin-top: 25px; font-size: large;">Pendiente
                                    </mat-slide-toggle>
                                </div>

                                <div class="col-md-1" style="height: 300px;">
                                    <mat-divider [vertical]="true"
                                        style="height: 100%; display:inline-flex; border-color: #9e1313; margin-left: 8%; border-width: 1px; border-style: solid;">
                                    </mat-divider>
                                </div>


                                <div class="col-md-5 text-center" style="padding-left: 100px">
                                    <h1 style="font-size: xx-large; font-weight: bold; margin-top:3%">Total:</h1>
                                    <p style="font-size: xx-large; font-weight: bold;">{{total | currency}}</p>

                                    <button mat-flat-button class="btn" style="margin-top: 10%" (click)="onSubmit()" [disabled]="!ventasForm.valid">
                                        <mat-icon>attach_money</mat-icon>
                                        Generar venta
                                    </button>
                                </div>
                            </form>

                        </div>

                    </mat-tab>
                    <mat-tab label="First">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">date_range</mat-icon>
                            Ventas pendientes
                        </ng-template>
                        <div class="container mt-5">
                            <div class="d-flex justify-content-center row">
                                <div class="col-md-12">
                                    <div class="rounded">
                                        <div class="table-responsive table-borderless">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Estatus</th>
                                                        <th>Total</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-body">
                                                    <tr class="cell-1" data-toggle="collapse" data-target="#demo" *ngFor="let vp of ventasPendientes">
                                                        <td>{{vp.Fecha}}</td>
                                                        <td>{{vp.Producto}}</td>
                                                        <td>{{vp.Cantidad}} KG</td>
                                                        <td><span class="badge badge-danger">Pendiente</span></td>
                                                        <td>{{vp.Total | currency}}</td>
                                                        <td class="table-elipse" data-toggle="collapse"
                                                            data-target="#demo"><i
                                                                class="fa fa-ellipsis-h text-black-50"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

                <mat-card-content>

                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>

<simple-notifications></simple-notifications>