<div class="center-content" [hidden]="!log">
  <div class="row">
    <div class="col-lg-6">
    </div>

    <div class="col-lg-6" style="height: 100%;">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="mat-title" style="width: 100%;">
            Inicio de Sesión
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/Vazmen3.jfif" style="width: 40%; height: 60%;">
    
        <mat-card-content>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Usuario:</mat-label>
              <input matInput placeholder="Ej. vazmen@gmail.com" name="Usuario" #Usuario="ngModel"
                [(ngModel)]="login.Usuario">
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <mat-label>Contraseña:</mat-label>
              <input matInput type="password" placeholder="Ingresar contraseña..." name="Contrasenia" #Contrasenia="ngModel"
                [(ngModel)]="login.Contrasenia">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
    
            <mat-card-actions>
              <button type="submit" mat-flat-button class="btn" (click)="progressBar()">Iniciar Sesión</button>
              <mat-progress-bar class="mat-progress-bar-buffer" mode="indeterminate" *ngIf="progress"></mat-progress-bar>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  
</div>

<router-outlet></router-outlet>

<simple-notifications></simple-notifications>